@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  user-select: none;
  /*box-sizing: border-box;*/
  position: relative;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#canvas canvas {
  max-width: 100vw;
  max-height: 100vh;
}

@layer components {
  .gui::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  .gui::-webkit-scrollbar-thumb {
    background: rgb(30 41 59);
    border-radius: 3px;
  }

  @media screen and (min-width: 768px) {
    .gui {
      @apply absolute top-0 right-0 p-2 w-52 flex gap-1 flex-col;
    }
  }
  @media screen and (max-width: 768px) {
    .gui {
      @apply absolute h-40 bottom-2 flex gap-4 flex-wrap overflow-auto left-1 right-1 pr-2;
    }
  }
}
