body {
  color: white;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#gui {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 10px;
}

.gui {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button.selected {
  background-color: gray;
}
